---
layout: default
home-title: TRY HARD !
description: 努力 尝试 ！
header-img: https://images.unsplash.com/photo-1530170663623-fa2b93103c22?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb5e4dbc5137236c12dfdc58c2aa7da5&auto=format&fit=crop&w=1568&q=80
---

{% include header.html %}

<style type="text/css">

    .m_tag{
        background:  url('https://images.unsplash.com/photo-1530155420982-15766d70793c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91b61fa04199943f4837061c008863e9&auto=format&fit=crop&w=1650&q=80') no-repeat
    }

    .m_post{
        background:  url('https://images.unsplash.com/photo-1530155420982-15766d70793c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91b61fa04199943f4837061c008863e9&auto=format&fit=crop&w=1650&q=80') no-repeat top
    }
    .m_bac{
        background-color: #ffff
    }
    .banner-theme-default {
        /*#E1E4E7*/
        /*background-color: #ffff;*/
        background:linear-gradient(100deg,#E1E4E7,#E1E4E7);
        /*background: -o-linear-gradient(0deg,#fff,#fff);*/
        /*background: -moz-linear-gradient(0deg,#fff,#fff);*/
    }

</style>

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>

<main class="g-container home-content" >
    <div class="article-list">
        {% for post in paginator.posts %}
            <article class="article-item m_post">
                {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover }}" href="{{ post.url | prepend: site.baseurl }}" alt="">
                </div>
                {% endif %}
                <section class="post-preview">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"></a>
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% endif %}
                    {% if post.subtitle.size==0 or post.subtitle==nil %}
                    <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                    {% endif %}
                </section>
                <footer class="post-meta">
                    <div class="post-tags">
                        {% if post.tags.size > 0 %}
                            {% for tag in post.tags  %}
                            <a href={{ "tags.html#" | append: tag | pretend: site.baseurl}} class="post-tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <time class="post-date" datetime="{{ post.date | date:"%y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                </footer>
            </article>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}

    </div>

    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar m_tag">
            <section class="author-card">
                <div class="avatar">
                    <img src="{{ site.avatar | prepend: site.baseurl }}" alt="">
                </div>
                <div class="author-name" rel="author">{{ site.author }}</div>
                <div class="bio">
                    <p>{{ site.bio }}</p>
                </div>
                {% if site.sns.size > 0 %}
                <ul id="sns-links" class="sns-links">
                    {% for s in site.sns %}
                    <li>
                        <a href="{{ s[1] }}" target="_blank">
                            <i class="iconfont icon-{{ s[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>

            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                {% for tag in site.tags %}
                    {% if forloop.index > site.recommend-condition-size %}
                        {% break %}
                    {% endif %}
                    <a href="{{ "/tags.html#" | append: tag[0] | prepend: site.baseurl }}" class="tag">{{ tag[0]}}</a>
                {% endfor %}
            </section>
            {% endif %}

            {% if site.friend_link and site.data.links.size>0 %}
            <section class="links-card">
                <div class="title">FRIENDS</div>
                {% for link in site.data.links %}
                <a href="{{ link.url }}" class="link">{{ link.name }}</a>
                {% endfor %}
            </section>
            {% endif %}
        </div>

        {% if site.search %}
        <div class="search-card">
            <input id="search_input" type="text" placeholder="Search...">
            <i class="iconfont icon-search"></i>
            <div class="search_result"></div>
        </div>
        {% endif %}

    </aside>

</main>

{% include footer.html %}
