<!--首页的背景图颜色-->
<style type="text/css">
    /*body {
        background: #F4A7B9
    }*/
    body {
        background-color: #EED8E2;
        background-image: url('https://coding.net/u/tea9/p/image/git/raw/master/blog_img/appreciate/sana.png');
        background-repeat:no-repeat;
        background-position:right;
        background-attachment:fixed;
        /*background-size:100% 100%;*/
        background-size: cover !important;
    }

    .m_post{
        /*background-color: #F8C3CD;*/
        /*color: #F8C3CD;*/
        /*background:  url('') no-repeat top;*/
    }

    .m_tag{
        /*background-color: #F8C3CD;*/
        background:  url('') no-repeat center;
    }

    .article-list .article-item{
        /*background-color: #F8C3CD;*/
        background:  url('') no-repeat center;
    }



/**
https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2f85ebbe3460383bba8db904707b2c13&auto=format&fit=crop&w=1650&q=80
*/
    
     /*.m_tag{
        background:  url('https://images.unsplash.com/photo-1525268771113-32d9e9021a97?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=874400d4481965d6b5beba0475784553&auto=format&fit=crop&w=1100&q=80') no-repeat
    }

    

    /*.m_tag{
        background: #FEDFE1
    }*/
    /*.m_post{
        background-color: #EB7A77
    }*/
    /*.m_bac{
        background-color: #ffff
    }*/
    /*.g-footer{
        background: #fff;
    }*/
    .banner-theme-default {
        /*#E1E4E7*/
        /*background-color: #ffff;*/
        background:linear-gradient(100deg,#E1E4E7,#E1E4E7);
        /*background: -o-linear-gradient(0deg,#fff,#fff);*/
        /*background: -moz-linear-gradient(0deg,#fff,#fff);*/
    }
    /*.g-banner{
        background:  url('https://images.unsplash.com/photo-1520052205864-92d242b3a76b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f440be669cb7081adb95b8c0fdff951f&auto=format&fit=crop&w=1650&q=80') no-repeat center
    }*/
    .g-banner{
        background:url('');
    }
    .post-content{
        background-color: rgba(0,0,0,0.2);
    }

    #hitokoto_title{
        /*animation-delay: 5s;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-name: shake;
        animation-timing-function: ease-in-out;*/
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: initial;
        animation-name: bounce;
        transform-origin: center bottom;
    }
    #hitokoto{
        color: #fff;
    }
    /*弹跳动画*/
    @keyframes bounce {
          0%, 15%, 47%, 73%,89%,100% {
            animation-timing-function: ease-out;
            transform: translate3d(0,0,0);
          }

          30%, 32% {
            animation-timing-function: ease-in;
            transform: translate3d(0, -42px, 0);
          }

          60% {
            animation-timing-function: ease-in;
            transform: translate3d(0, -24px, 0);
          }

          82% {
            animation-timing-function: ease-in;
            transform: translate3d(0, -12px, 0);
          }

          94% {
            animation-timing-function: ease-in;
            transform: translate3d(0,-3px,0);
          }
        }
</style>