---
layout: default
---
{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{page.title}}</h2>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>
<div class="post-content visible">
	<div class="markdown-body">
			{{ content }}
	</div>
</div>
{% include footer.html %}